*{
    margin: 0%;
    padding: 0%;
  }
  
  .navbar{
      display: flex;
      justify-content: space-between;
      height: 80px;
      justify-items:  center;
      align-items: center;
      padding-left: 50px;
      padding-right: 80px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
  }
  .qute{
    display: flex;
    justify-items:  center;
    align-items: center;
    color: #696B79;
    line-height: 20px;
    margin-left: 140px;
    font-family:Helvetica,Arial,sans-serif;

}
.qute>ol{
    margin-left: 5px;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
    
}
.qute>ol:nth-child(1){
    text-decoration: underline;
    text-underline-offset: 6px;
    color:#20BD99;
    text-decoration-thickness: 2px;
    
}
.sec{
    display: flex;
    text-align: center;
    justify-items:  center;
    align-items: center;
    color: #696B79;
    line-height: 20px;
    font-family:Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
    /* margin-left: 500px; */
}
.sec>img{
    width: 29px;
    margin-right: 4px;
    
}
.mylogo>img{
    width: 100%;
    height: 100%;
}
.mylogo{
    width: 40px;
    height: 30px;
    display: flex;
    justify-items:  center;
    align-items: center;
}
/* navabr end */
.leftbody{
    width: 44%;
    /* border: 1px solid teal; */
    /* height: 400px; */
    margin-top: 35px;
    margin-left: 70px;
}
.body{
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
}
.add{
    display: flex;
    justify-content:center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
    padding: 15px;
    align-items: center;
    margin-bottom: 8px;
}
.add:hover{
    cursor: pointer;
}
.add>button{
    color: red;
    border: 1px solid red;
    background-color: white;
    padding: 10px;
    font-weight: 600;
}
.add>button:hover{
    background-color: rgb(235, 220, 220);
}
.rightbody{
    width: 27%;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
    margin-left: -105px;
}
.offer{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
    padding-top: 20px;

}
.offer>div{
display: flex;
align-content: center;

}
.offer>div>svg{
    width: 18px;
    padding-left: 20px;
    margin-right: 10px;
}
.offer>div:nth-child(2){
color: #282c3f;
}
.lists{
    list-style-type: circle; 
    list-style-position:inside; 
    font-size: 13px;
    background: #fff;
    margin-bottom: 10px;
    padding: 16px 18px 12px;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
}
#more{
    display: none;
}
.butt{
    display: flex;
    align-content: center;
    margin-left: 35px;
    margin-top: -10px;
    padding-bottom: 10px;
}
.butt>button{
    color: red;
    font-weight: 600;
    background-color: white;
    border: 1px solid transparent;
}
.butt>svg{
    color: #ff5272;
}
.offersV2-base-arrowIcon{
    fill: #ff5272;
    width: 10px;
    height: 10px;
    margin-left: -11px;
    margin-top: -6px;
}
#bo{
    color: #535766;
    font-weight: 600;
}
#bus{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
    align-items: center;
    height: 40px;
    margin-top: 8px;
}
#bus>img{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -10px;
}
.fetch>div{
    display: flex;
    width: 574px;
}
.fetch>div{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
    padding: 10px;
}
#image>img{
width: 120px;
height: 150px;
}
#image{
    margin-right: 10px;
}
.fetch>div>div:nth-child(2)>p:nth-child(1){
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
}
.fetch>div>div:nth-child(2)>p:nth-child(3){
    color: #94969f;
    font-size: 12px;
    line-height: 1.42857143
}
.fetch>div>div:nth-child(2)>p{
    line-height: 16px;
    color:#282c3f;
    font-size: 14px;
    margin-bottom: 4px;
}

.button>button{
   margin-right:10px;
   background-color: #f5f5f6;
   border: 1px solid transparent;
   font-weight: 600;
   padding: 3px;
}
.button>select{
    margin-right:10px;
    background-color: #f5f5f6;
    border: 1px solid transparent;
    font-weight: 600;
    padding: 3px;
    outline: none;
}
.button{
    margin-bottom: 10px;
}
.button~div{
display: flex;
margin-top: 4px;
}
.button~div>p{
    margin-right: 5px;
}
.button~div>p:nth-child(2){
    text-decoration: line-through;
    color: #94969f;
}
.button~div>p:nth-child(1){
    font-weight: 600;
}
.button~div>p:nth-child(3){
    color: #f16565;
}
.first{
    margin-top: 10px;
    padding-left: 20px;
}
.first>p:first-child{
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 12px;
    color:#535766 ;
    /* margin: auto; */
    
}
.first>label{
    font-weight: 600;
    margin-left: 15px;
}
.first>input{
    margin-bottom: 24px;
}
.donate>button{
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    border-radius:20px ;
    border: 1px solid rgb(180, 171, 171);
    font-weight: 600;
    margin-right:5px;
    height: 25px;
}
.donate>input{
    border: 1px solid rgb(180, 171, 171);
    margin-right:5px;
    border-radius: 20px;
    height: 25px;
    width: 50px;
    text-align: center;
    padding-left: 15px;
    margin-bottom: 10px;
}
.donate>p{
    color: red;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}
.apply
{
    display: flex;
    /* border: 1px solid teal; */
    align-items: center;
}
#coup>p{
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}
.apply>button{
    width: 60px;
    padding: 8px;
    height: 30px;
    background-color: white;
    border: 1px solid red;
    color: red;
}
.apply>button:hover{
    background-color: rgb(235, 220, 220);
    cursor: pointer;
}
.apply>p{
    margin-left: 20px;
     margin-right: 120px; 
}
#gift{
    margin-left: 20px;
}
#gift>p:first-child{
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 35px;
}
#gift>div{
    display: flex;
    background-color: #fff1ec;

}
#gift>div>div>img{
    height: 100px;
    margin-left: 10px;
}
#gift>div>div:last-child{
    margin-top: 15px;
    margin-left: 20px;
}
#gift>div>div:last-child>p:first-child{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1px;
}
#gift>div>div:last-child>p:nth-child(2){
    font-size: 12px;
    line-height: 16px;
    color: #282c3f;
}
#gift>div>div:last-child>p:nth-child(3){
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 63, 108);
    margin-top: 8px;
}
.ttl{
    display: flex;
    line-height: 16px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #282c3f;
    justify-content: space-between;
}
.mrp{
    display: flex;
    justify-content: space-between;
}
.mrp>p:first-child{
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
    
}
.mrp>p:last-child{
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #03a685
    
}
.coupon{
    display: flex;
    justify-content: space-between;
}
.coupon>p:first-child{
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f
}
.coupon>p:last-child{
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #ff3f6c;
}
.con{
display: flex;
}
.con>p:nth-child(2){
    line-height: 16px;
    font-size: 14px;
    color: rgb(255,63,108);
    margin-left: 10px;
    font-weight: 600;
}
.con>p:nth-child(3){
    margin-left: 88px;
    /* text-decoration: line-through; */
}
#free{
    color: #03a685;
    text-decoration:dashed;
}
.total{
    display: flex;
    justify-content: space-between;
}
.total>p{
    font-weight: 600;
    font-size: 15px;
    padding-top: 16px;
    color: #3e4152;
    line-height: 16px;
}
.price{
    /* border: 1px solid teal; */
    margin-left: 20px;
    margin-top: 30px;
}
.itmes{
    font-size: 12px;
    font-weight: 600;
    margin: 24px 0 16px;
    color: #535766;
}
.page{
    color:rgb(255,255,255);
    background-color: rgb(255, 63, 108);
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    padding: 10px 16px;
    margin-top: 20px;
    border: 1px solid transparent;
}
.ko{
    display: flex;
    justify-content: space-between;
}
.ko>button{
    margin-left: 120px;
}
.x{
    margin-left: 100px;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid transparent;
  
}
#hr{
    border-top: 1px solid  rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 15px;
}
#hl{
    border-top: 1px solid  rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: -10px;
}
.donate{
    margin-top: 35px;
}

.content{
    display: flex;
    margin-left: 210px;
    margin-right: 50px;
    margin-top: 60px;
}
.content>p{
    margin-left: 200px;
}













