*{
    margin: 0%;
    padding: 0%;
  }
  
  .navbar{
      display: flex;
      justify-content: space-between;
      height: 80px;
      justify-items:  center;
      align-items: center;
      padding-left: 50px;
      padding-right: 80px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px inset; 
  }
  .qute{
    display: flex;
    justify-items:  center;
    align-items: center;
    color: #696B79;
    line-height: 20px;
    margin-left: 140px;
    font-family:Helvetica,Arial,sans-serif;

}
.qute>ol{
    margin-left: 5px;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
    
}
.qute>ol:nth-child(3){
    text-decoration: underline;
    text-underline-offset: 6px;
    color:#20BD99;
    text-decoration-thickness: 2px;
    
}
.sec{
    display: flex;
    text-align: center;
    justify-items:  center;
    align-items: center;
    color: #696B79;
    line-height: 20px;
    font-family:Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
    /* margin-left: 500px; */
}
.sec>img{
    width: 29px;
    margin-right: 4px;
    
}
.mylogo>img{
    width: 100%;
    height: 100%;
}
.mylogo{
    width: 40px;
    height: 30px;
    display: flex;
    justify-items:  center;
    align-items: center;
}
.leftbody{
    margin-left: 120px;
    width: 700px;
    padding: 10px;
    margin-top: 30px;
}
.leftbody>div:first-child{
    display: flex;
    justify-content: space-between;
}
.leftbody>div>p:first-child{
    font-weight: 600;
    font-size: 18px;
    color: #282c3f;
    margin: 12px 0;
    line-height: 1.42857143;
    background-color: #fff;
}
.leftbody>div:first-child>button{
   font-size: 12px;
   font-weight: 600;
   border: 1px solid #282c3f;
   margin: 7px 0 6px;
   padding: 8px 16px 7px;
   border-radius: 4px;
   line-height: 1.42857143;
   background-color: #fff;
}
.leftbody>p:nth-child(2){
    font-weight: 600;
    font-size: 12px;
    margin: 12px 0 16px;
    color: #535766;
    line-height: 1.42857143;
}
.details{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px;
}
.home{
    display: flex;
    align-content: center;
}
.home>p{
    font-weight: 600;
    font-size: 14px;
    color: #282c3f;
    text-transform: capitalize;
    word-break: break-all;
    margin-bottom: 8px;
    border-radius: 4px;
}
.home>button{
    font-size: 10px;
    padding: 2px 8px;
    margin-bottom: 8px;
     border-radius: 20px;
     color: #03a685;
     font-weight: 600;
     border: 1px solid #03a685;
     margin-left: 8px;
     line-height: 12px;
     background-color: white;
}
.details>p:nth-child(2){
    margin-top: 12px;
    word-break: break-all;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.42857143;
    color: #424553;
    background-color: #fff;
}
.details>p:nth-child(3){
    margin-top: 12px;
    word-break: break-all;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.42857143;
    color: #424553;
    background-color: #fff;
}
.details>button{
    color: #282c3f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    background: transparent;
    border: 1px solid #282c3f;
    border-radius: 4px;
    text-align: center;
    height: 30px;
    width: 90px;
    font-family: inherit;
    line-height: inherit;
    outline: 0;
    margin-top: 10px;
}
.rightbody{
    width: 400px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 20px;
}
#price{
    line-height: 15px;
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 16px;
}
#ttl{
    display: flex;
    margin-bottom: 12px;
    line-height: 16px;
    color: #424553;
    justify-content: space-between;
}
#con{
    display: flex;
}
#con>p:first-child{
    color: #424553;
    font-family: Whitney,Helvetica,Arial,sans-serif;
}
#con>p:nth-child(2){
    color: #ff3f6c;
    font-family: Whitney,Helvetica,Arial,sans-serif;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
}
#con>p:last-child{
    margin-left: 150px;
    color:#03a685;
    font-family: Whitney,Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    line-height: 16px;
    font-size: 14px;
}
hr{
    width: 400px;
    margin-bottom: 17px;
}
#amont{
    display: flex;
    font-weight: 600;
    font-size: 15px;
    color: #3e4152;
    line-height: 16px;
    justify-content: space-between;
}
.leftbody>button{
    margin-top: 10px;
}
.body{
  display: flex;
}
.but{
    margin-top: 25px;
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: #ff3f6c;
    border-radius: 4px;
    color: white;

}
.content{
    display: flex;
    margin-left: 210px;
    margin-right: 50px;
    margin-top: 60px;
}
.content>p{
    margin-left: 200px;
}