.center{
    width: fit-content;
    margin: auto;
    margin-top: 240px;
    text-align: center;
}
img{
    width: 60px;
}
.body>p:nth-child(2){
    margin: auto;
    margin-top: 200px;
    margin-left: 41%;
    color: #696B79; ;
}
.center>p:nth-child(2){
    font-weight: 600;
}
.center>p:nth-child(3){
    color: #696B79; ;
}